.submenu {
  background: #181b27; /* Blue background */
  top: 0;
  position: sticky;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  width: 100%;
  left: 0;
  transition: 0.5s;
}

.middalhd {
  background: #171b27;
}

.logo img {
  max-height: 100%;
}

.logo {
  text-align: center;
  padding: 18px 50px;
  height: 100px;
  transition: padding 0.3s ease;
}

div#myNav img#dark-logo {
  width: 30%;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0; /* Align overlay to the right */
  height: 100%;
  width: 300px; /* Adjust width as needed */
  background-color: #181b27; /* Blue background */
  transition: transform 0.5s ease; /* Smooth open/close animation */
  transform: translateX(100%); /* Hidden initially */
}

.overlay.open {
  transform: translateX(0); /* Show the overlay */
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 20px; /* Position close button inside the overlay */
  font-size: 36px;
  cursor: pointer;
}

.overlay-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.overlay-content ul {
  list-style: none;
  padding: 0;
}

.overlay-content ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: block;
  padding: 10px 0;
}

.social a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
}
